* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   width: 100vw;
   height: 100vh;
}

.game_container {
   position: relative;
   display: grid;
   background-color: rgb(122, 121, 121);
   grid-template-rows: repeat(24, 1fr);
   grid-template-columns: repeat(48, 1fr);
   width: 100%;
   height: 100%;
   padding: 5px;
}

/* start button container */
.menu_container {
   grid-row: 2 / 6;
   grid-column: 2 / 8;
   display: flex;
   left: 5px;
   top: 20px;
   width: 80px;
   flex-direction: column;
}

/* start table container */
.table_container {
   display: grid;
   grid-row: 5 / 19;
   grid-column: 5 / 45;
   border: 4px solid rgb(126, 49, 7);
   box-shadow: 0 4px 8px 4px rgb(126, 49, 7);
   background-color: rgb(12, 97, 12);
   border-radius: 30%;
}

/* start player name */
.name {
   position: absolute;
   width: 100%;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   color: blue;
}

.chair_0 .name,
.chair_1 .name,
.chair_2 .name,
.chair_8 .name,
.chair_9 .name {
   bottom: 0;
}

.chair_3 .name,
.chair_4 .name,
.chair_5 .name,
.chair_6 .name,
.chair_7 .name {
   top: 0px;
}

/* start player wallet */
.wallet {
   position: absolute;
   text-decoration: underline;
}

.chair_0 .wallet,
.chair_1 .wallet,
.chair_9 .wallet {
   top: -15%;
   left: 0px;
}

.chair_4 .wallet,
.chair_5 .wallet,
.chair_6 .wallet {
   bottom: -20%;
   right: 0px;
}

.chair_2 .wallet {
   top: -20%;
   right: 20%;
}

.chair_3 .wallet {
   bottom: -20%;
   left: 20%;
}

.chair_7 .wallet {
   bottom: -20%;
   right: 0;
}

.chair_8 .wallet {
   top: -20%;
   left: 20%;
}

/* start player bets */
.bet {
   /* display: none; */
   position: absolute;
   font-size: 14px;
   font-weight: bold;
   padding: 4px;
   background: radial-gradient(gold, yellow);
   box-shadow: 1px 2px 3px 1px white;
   color: #bbb;
   text-shadow: 0 1px 1px black;
   border-radius: 50%;
}

.chair_0 .bet,
.chair_1 .bet,
.chair_9 .bet {
   top: -20%;
   right: 10%;
}

.chair_4 .bet,
.chair_5 .bet,
.chair_6 .bet {
   bottom: -40%;
   left: 10%;
}

.chair_2 .bet {
   top: -40%;
   right: -20%;
}

.chair_3 .bet {
   bottom: -40%;
   right: -20%;
}

.chair_7 .bet {
   bottom: -40%;
   left: -40%
}

.chair_8 .bet {
   top: -40%;
   left: -40%;
}

/* start blinds */
.blind {
   position: absolute;
   color: black;
   border-radius: 50%;
   background: radial-gradient(brown, yellow);
   box-shadow: 1px 2px 4px 1px black;
   /* display: none; */
}

.big_blind {
   padding: 5px;
}

.small_blind {
   font-size: 12px;
   padding: 3px;
}

.chair_0 .blind {
   right: -40%;
   top: 0;
}


.chair_1 .blind,
.chair_2 .blind,
.chair_9 .blind {
   top: -10%;
   right: -20%;
}

.chair_3 .blind {
   bottom: -20%;
   right: -20%
}

.chair_4 .blind,
.chair_5 .blind,
.chair_6 .blind {
   bottom: -20%;
   left: -10%;
}

.chair_7 .blind {
   bottom: -20%;
}

.chair_8 .blind {
   top: -20%;
}

/* start dealerBtn */
.dealer {
   position: absolute;
   color: black;
   border-radius: 50%;
   padding: 4px 9px 4px;
   background: radial-gradient(rgb(42, 128, 165), rgb(16, 32, 124));
   box-shadow: 1px 2px 4px 1px white;
}

.chair_0 .dealer {
   left: -40%;
   top: 20%;
}

.chair_1 .dealer,
.chair_2 .dealer {
   left: -10%;
   top: -20%;
}

.chair_8 .dealer,
.chair_9 .dealer {
   bottom: 0;
}

.chair_3 .dealer,
.chair_4 .dealer,
.chair_5 .dealer,
.chair_6 .dealer,
.chair_7 .dealer {
   top: 0px;
}

/* start activePLayerMsg */
.player_state {
   position: absolute;
}

.playing {
   color: rgb(120, 48, 48);
   font-weight: bold;
   text-shadow: 0 2px 2px white;
}

.folded {
   color: black;
   text-shadow: 0 2px 2px black;
}

.broke {
   color: red;
   text-shadow: 0 2px 2px black;
   text-transform: uppercase;
}

.chair_0 .player_state {
   left: 0;
   bottom: 20%;
}

.chair_1 .player_state,
.chair_2 .player_state {
   left: 0;
   bottom: 20%;
}

.chair_8 .player_state,
.chair_9 .player_state {
   bottom: 0;
}

.chair_3 .player_state,
.chair_4 .player_state,
.chair_5 .player_state,
.chair_6 .player_state,
.chair_7 .player_state {
   top: 30%;
}


/* start player cards */
.player_cards {
   position: absolute;
   display: flex;
   justify-content: space-evenly;
   height: 50%;
   width: 100%;
}

.card_c {
   font-size: 10px;
   height: 100%;
   background-color: gray;
   margin: 2px;
   box-shadow: 0 1px 4px 1px black;
}

.chair_0 .player_cards,
.chair_1 .player_cards,
.chair_2 .player_cards,
.chair_8 .player_cards,
.chair_9 .player_cards {
   top: 0;
}

.chair_3 .player_cards,
.chair_4 .player_cards,
.chair_5 .player_cards,
.chair_6 .player_cards,
.chair_7 .player_cards {
   bottom: 0;
}

/* start of players containers */
.players_container {
   display: grid;
}

.chair {
   position: relative;
   height: 100%;
   width: 100%;
   /* border: 2px solid black; */
}

.chair_0 {
   grid-row: 15 / 21;
   grid-column: 22 / 27;
}

.chair_1 {
   grid-row: 15 / 21;
   grid-column: 13 / 18;
}

.chair_2 {
   grid-row: 14 / 18;
   grid-column: 4 / 9;
}

.chair_3 {
   grid-row: 6 / 10;
   grid-column: 4 / 9;
}

.chair_4 {
   grid-row: 2 / 6;
   grid-column: 13 / 18;
}

.chair_5 {
   grid-row: 2 / 6;
   grid-column: 22 / 27;
}

.chair_6 {
   grid-row: 2 / 6;
   grid-column: 32 / 37;
}

.chair_7 {
   grid-row: 6 / 10;
   grid-column: 41 / 46;
}

.chair_8 {
   grid-row: 14 / 18;
   grid-column: 41 / 46;
}

.chair_9 {
   grid-row: 15 / 21;
   grid-column: 32 / 37;
}

/* start table pot */
.table_pot {
   grid-row: 8 / 9;
   grid-column: 20 / 29;

}

/* start table card container */
.card_container {
   position: relative;
   display: flex;
   grid-row: 10 / 13;
   grid-column: 18 / 31;
   width: 100%;
   height: 100%;
}

.action_card{
   width: 100%;
   height: 100%;
}

.flop_container {
   display: flex;
}

/* start playerOption container */

.options_container>.btn {
   border: none;
   border-radius: 3px;
   box-shadow: 0 1px 2px 1px rgb(170, 122, 122);
   margin: 5px;
   padding: 15px;
}

.options_container {
   position: relative;
   display: flex;
   justify-content: space-between;
   grid-row: 22 / 24;
   grid-column: 26 /47;
   padding: 3px;
   background: linear-gradient(rgb(138, 48, 48), rgb(102, 26, 26));
   border: 2px solid brown;
   border-radius: 3px;
   box-shadow: 0 2px 2px 2px brown;
   font-size: bold;
}

.r_b {
   width: 30px;
   height: 100%;
   color: white;
   font-size: 12px;
   border: none;
}

button:hover{
   background: lightgray;
   transition: 200ms ease-in-out;
}

button:focus{
   outline: 0;
}

button:active{
   background: white;
   transition: 100ms ease-out;
}

.min_btn {
   background-color: rgb(12, 97, 12);
   border-radius: 2px 0 0 2px;
   opacity: .8;
}

.plus_btn {
   background-color: rgb(126, 49, 7);
   opacity: .8;
   border-radius: 0 2px 2px 0;
}

.raise_container {
   position: absolute;
   display: flex;
   grid-row: 22 / 24;
   grid-column: 26 /47;
   justify-content: space-between;
   top: -45px;
   right: 0;
   height: 30px;
   width: 50%;
   background: linear-gradient(rgb(216, 215, 215), grey);
   border: 2px solid brown;
   border-radius: 5px;
   box-shadow: 0 2px 2px 2px brown;
}

.raise_text {
   width: 50%;
   height: 100%;
   color: white;
   font-weight: bold;
   padding: 6px;
   font-size: 12px;
}

.raise_input {
   width: 40%;
   height: 100%;
   background: gray;
   color: white;
   text-align: right;
   font-weight: bold;
   border: none;
   padding: 0 4px;
}

/* start chat container */
.chat_container {
   position: relative;
   box-shadow: inset 1px 2px 8px black;
   background-color: #eee;
   z-index: 1;
   border-radius: 5px;
   grid-row: 20 / 25;
   grid-column: 2 / 20;
   font-size: 11px;
   padding: 8px;
}

.submit_message {
   position: absolute;
   border: none;
   border-radius: 5%;
   background-color: #bbb;
   bottom: 6px;
   right: 8px;
   height: 24px;
   width: 15%;
   margin: 0px;
}

.player_message {
   position: absolute;
   border: none;
   border-radius: 5%;
   height: 24px;
   bottom: 6px;
   left: 8px;
   width: 75%
}

button {
   padding: 0;
   margin: 0;
}

.this_user {
   font-weight: 800;
   color: rgb(145, 41, 41);
}

.other_user {
   font-weight: 400;
   color: black;
}

.msg_info {
   font-weight: 400;
   color: rgb(104, 102, 102);
   text-decoration: underline;
}

/* start modal  */
.modal_container {
   display: none;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
   min-height: 10%;
   width: 40%;
   background: linear-gradient(rgba(200, 219, 190, 0.886), rgba(140, 113, 62, 0.838));
   box-shadow: 0 3px 5px 0px brown;
   border-radius: 5px;
   border-top: 3px solid brown;
   z-index: 10;
}

.text_container {
   width: 90%;
   border: 1px solid brown;
   border-radius: 5px;
   margin: 5px auto;
   padding: 5px;
   min-height: 100px;
   z-index: 11;
}

.modal_container .yes_no_container {
   display: none;
   justify-content: space-evenly;
   width: 100%;
   margin: 20px 0;
   z-index: 11;
}

.modal_container .okay_container {
   display: flex;
   justify-content: center;
   width: 100%;
   margin: 20px auto;
   z-index: 11;
}

.confirm_btn{
   padding: 5px 15px;
   border: none;
}

.cheatsheet{
   width: 100%;
}

.cheatsheet img{
   width: 100%;
}